.container {
    margin: 0 auto;
    height: 100%;
    padding-top: 10%;
    
}


.input__first,
.input__second,
.input__third{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input[type="range"] {
    width: 170px;
    margin-top: 50px;
    margin-left: -40px;
    cursor: pointer;
}

.input__third {
    margin-top: 50px;
}




.div__second {
    margin-top: 50px;
}

.div,
.div__second,
.div__third {
    margin-left: 15px;
}

#select,
#select__third {
    margin-left: 15px;
}


